MCP_PROXY_UPSTREAM_PROXY_ENABLED=true
MCP_PROXY_UPSTREAM_PROXY_URL=http://host.docker.internal:8888
MCP_PROXY_MIRROR_MOCK_REQUESTS=true
# MCP_PROXY_CA_CERT_PATH=/absolute/path/to/upstream-proxy-ca.pem
